.tabs {
    padding: 10px;
    width: 100%;
    gap: 10px;
}


.tabs button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    width: 50%;
    padding: 20px;
    color: #ff9b21;
    text-decoration: none;
    border: none;
    background: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s, opacity 0.6s;
    cursor: pointer;
}

.tabs button:hover {
    opacity: 0.7;
}

.tabs .active {
    border-bottom: 2px solid #ff9b21;
    color: #ff9b21;
}

.tabs svg {
    fill: #ff9b21;
    width: 22px;
    height: 22px;
}